# .env
DB_USER="postgres"
DB_HOST="localhost"
DB_PORT="5432"
DB_DATABASE="postgres"
DB_PASSWD=""

NETWORK_TYPE="mainnet"

## reporting system settings
REPORT_TO_INDEXER="true"
REPORT_URL="https://api.opi.network/report_block"
REPORT_RETRIES="10"
# set a name for report dashboard
REPORT_NAME="opi_bitmap_index"

## transaction count backfill settings
BACKFILL_BITMAP_TX_COUNT="true"
BACKFILL_BITMAP_TX_COUNT_BATCH="200"
TX_COUNT_MAX_ATTEMPTS="3"
TX_COUNT_RETRY_DELAY_SEC="300"